head
		link(rel='icon' type='image/png' sizes='32x32' href='https://raw.githubusercontent.com/JacksonL1787/community-broadcaster/master/src/static/img/favicons/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='https://raw.githubusercontent.com/JacksonL1787/community-broadcaster/master/src/static/img/favicons/favicon-16x16.png')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0")
		title KoiStream
		link(href="htts://fonts.googleapis.com/css2?family=Muli:wght@800&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="css/index.css")
		link(rel="stylesheet" href="css/main.css")
				
body
	#main
		.videos-container
			
