body
    background #132027

#main
    width 95%
    max-width 2000px
    margin 40px auto 0
    .page-title
        font-weight 800
        letter-spacing .3px
        font-size 25px
        color white
        margin-left 20px
    .videos-container
        width 100%
        margin 20px 0 40px
        display flex
        justify-content left
        flex-flow row wrap
        .video
            width calc(25% - 40px)
            cursor pointer
            display block
            margin 20px
            &:hover
                .thumbnail-overlay
                    opacity 1 !important
            .video-thumbnail-wrap
                position relative
                width fit-content
                height fit-content
                .thumbnail-overlay
                    width 100%
                    height 100%
                    position absolute
                    top 0
                    left 0
                    opacity 0
                    background-color rgba(0,0,0,0.5)
                    transition opacity .3s
                    .play-icon
                        width 20px
                        height 20px
                        top 50%
                        left 50%
                        transform translate(-50%, -50%)
                        position absolute
                        background-image url("/img/play.svg")
                        background-size cover
                        background-repeat no-repeat
                        background-position center
                .thumbnail
                    width 100%
            h1.title
                margin-top 10px
                font-size 1.2rem
                letter-spacing .3px
                font-weight 500
                color white
                display inline-block
                width 100%
            p.date
                color #949494
                font-size .8rem
                letter-spacing .3px
                font-weight 400
                display inline-block
                width 100%
                margin-top 2px
                b
                    margin 0 10px
                    color #bfbfbf

@media only screen and (max-width: 1500px)
    .videos-container
        .video
            width calc(33% - 40px) !important

@media only screen and (max-width: 1000px)
    .videos-container
        .video
            width calc(50% - 40px) !important

@media only screen and (max-width: 700px)
    .videos-container
        .video
            width calc(100% - 40px) !important