head
	include ../main
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0")
	link(rel="stylesheet" href="/css/admin/video_studio.css")
	<link rel="stylesheet" type="text/css" href="https://www.jqueryscript.net/demo/Clean-jQuery-Date-Time-Picker-Plugin-datetimepicker/jquery.datetimepicker.css"/>
	script.

		var rawUser = "#{user}"
		if(rawUser) {
			window.user = JSON.parse(rawUser.replace(/&quot;/g,'"'));
		}

body

	.videoStudio-wrapper
		.videoStudio-wrapper-modal.fullCenter
			.videoStudio-wrapper-modal-header
				.videoStudio-wrapper-modal-header-txt.fullVertCenter
					h3 Video Studio
					p Upload a video
			.videoStudio-wrapper-modal-body
				.videoStudio-wrapper-modal-body-dimer
				form.videoStudio-wrapper-modal-body-container.fullXCenter(action="/admin/u/video" method="post" enctype="multipart/form-data")
					.videoStudio-wrapper-modal-body-container-uploadWrap
						.videoStudio-wrapper-modal-body-container-uploadWrap-videoUpload
							.videoStudio-wrapper-modal-body-container-uploadWrap-videoUpload-ceOD.fullVertCenter
								.videoStudio-wrapper-modal-body-container-uploadWrap-videoUpload-ceOD-icon.reg-image
								p Upload Video - Drop files or click here...
							input.fileUploadVide(type="file" name="videoUPL" style="display: none;")
						.videoStudio-wrapper-modal-body-container-uploadWrap-thumbnailUpload
							input.fullCenter(type="button" value="Upload Thumbnail")
							input.uploadThumbbna(type="file" name="videoUPL" style="display: none;")
					.videoStudio-wrapper-modal-body-container-optionsWrap
						.videoStudio-wrapper-modal-body-container-optionsWrap-navbar
							.videoStudio-wrapper-modal-body-container-optionsWrap-navbar-object.active#description
								p.fullCenter.dnaj Description
								.videoStudio-wrapper-modal-body-container-optionsWrap-navbar-object-lhr
							.videoStudio-wrapper-modal-body-container-optionsWrap-navbar-object#options
								p.fullCenter.dnaj Options
								.videoStudio-wrapper-modal-body-container-optionsWrap-navbar-object-lhr
							.videoStudio-wrapper-modal-body-container-optionsWrap-navbar-object#advanced
								p.fullCenter.dnaj Advanced
								.videoStudio-wrapper-modal-body-container-optionsWrap-navbar-object-lhr
							.videoStudio-wrapper-modal-body-container-optionsWrap-navbar-lhr
						.videoStudio-wrapper-modal-body-container-optionsWrap-body.active#MMD_description
							.videoStudio-wrapper-modal-body-container-optionsWrap-body-wrapper.fullVertCenter
								p.p_title Video Header
								input.title(type="text" placeholder="Title" name="title")
								p.p_desc Video Description
								textarea.desc(type="text" placeholder="Description" name="description")
						.videoStudio-wrapper-modal-body-container-optionsWrap-body#MMD_options
							.videoStudio-wrapper-modal-body-container-optionsWrap-body-wrapper.fullVertCenter
								p.p_privacy Privacy
								select(name="visibility")
									option Private
									option Unlisted
									option Public
								p.p_category Category
								select(name="category")
									option None
									option Full Episodes
									option Highlights
									option Student Videos
								p.p_nbe Notify Users by Email
								select(name="notify_by_email")
									option None
									option All Users
									option Students
									option Parents
									option Faculty
			
							
						.videoStudio-wrapper-modal-body-container-optionsWrap-body#MMD_advanced
							.videoStudio-wrapper-modal-body-container-optionsWrap-body-wrapper.fullVertCenter
								p.p_dos Stream Date
								input.i_sii(type="text" id="dtpicker" name="streamDate" placeholder="Date Streamed")

						h5.videoBottomSSA Your Video is currently Private
	
					.videoStudio-wrapper-modal-body-container-pubWrap
						.videoStudio-wrapper-modal-body-container-pubWrap-center.fullVertCenter
							input.upVid(type="submit" value="Upload")
							p or
							a(href="/admin/home") Cancel
				.videoStudio-wrapper-modal-body-progressBar
					.videoStudio-wrapper-modal-body-progressBar-fill

script(src="https://www.jqueryscript.net/demo/Clean-jQuery-Date-Time-Picker-Plugin-datetimepicker/jquery.datetimepicker.js")
script.

	$('.upVid').click(function(e){
		e.preventDefault()
		$(this).val("Uploading Now...")
		uploadVideo();
	})
	$('#dtpicker').datetimepicker({
		maxDateTime: true
	});

	$('.videoStudio-wrapper-modal-body-container-optionsWrap-navbar-object').click(function(){
		var id = $(this).attr('id')
		$('.videoStudio-wrapper-modal-body-container-optionsWrap-body').removeClass('active')
		$(".videoStudio-wrapper-modal-body-container-optionsWrap-navbar-object").removeClass('active')
		$('#MMD_' + id).addClass('active')
		$('#' + id).addClass('active')
	})

	$('.videoStudio-wrapper-modal-body-container-uploadWrap-thumbnailUpload input[type="button"]').click(function(){
		$('.videoStudio-wrapper-modal-body-container-uploadWrap-thumbnailUpload input[type="file"]').click()
	})

	$(".videoStudio-wrapper-modal-body-container-uploadWrap-videoUpload-ceOD").click(function(){
		$('.fileUploadVide').click()
	})

	 $('.fileUploadVide ').on('change', function(){
		var fileName = $(this).val().split('/').pop().split('\\').pop();
		$(".videoStudio-wrapper-modal-body-container-uploadWrap-videoUpload-ceOD p").text("Uploaded Video - " + fileName)
		console.log(fileName);
	 });

	 $('.uploadThumbbna').on('change', function(){
		var fileName = $(this).val().split('/').pop().split('\\').pop();
		$(".videoStudio-wrapper-modal-body-container-uploadWrap-thumbnailUpload input[type='button']").val(fileName)
		console.log(fileName);
	 });


	function uploadVideo() {
		$(".videoStudio-wrapper-modal-body-dimer").show()
		var form = $('.videoStudio-wrapper-modal-body form')[0];
		var data = new FormData(form);
		data.append("directory", makeid(6))
		data.append("googleId", user.googleId);
		data.append("streamDateS", moment($('#dtpicker').val()).valueOf());
		$.ajax({
			xhr: function() {
				var xhr = new window.XMLHttpRequest();
				xhr.upload.addEventListener("progress", function(evt) {
					if (evt.lengthComputable) {
						var percentComplete = evt.loaded / evt.total;
						percentComplete = parseInt(percentComplete * 100);
						console.log(percentComplete);
						$('.videoStudio-wrapper-modal-body-progressBar-fill').width(percentComplete + "%")
						if (percentComplete === 100) {
							log("Upload Complete")
						}
					}
				}, false);
				return xhr;
			},
			type: "POST",
			enctype: 'multipart/form-data',
			url: "/admin/u/video",
			data: data,
			processData: false,
			contentType: false,
			cache: false,
			success: (data) => {
				console.log(data)
				$('.videoStudio-wrapper-modal-body-progressBar-fill').css("background-color", "limegreen")
				$('.upVid').val("Completed!")	
				setTimeout(function(){
					window.location.href="/admin/home"
				}, 1000)
			},
			error: (e) => {
				$('.upVid').val("Failed!")
				$('.videoStudio-wrapper-modal-body-progressBar-fill').css("background-color", "red")
				setTimeout(function(){
					$(".videoStudio-wrapper-modal-body-dimer").hide()
					$('.videoStudio-wrapper-modal-body-progressBar-fill').width( "0%")
				}, 2000)
				setTimeout(function(){
					$('.upVid').val("Upload")
				}, 3000)
			}
		});
	}