head
		include ../main
		link(rel="stylesheet" href="css/user/index.css")
		

body
	include nav
	#main
		h1.page-title Previous Streams
		.videos-container
			a.video(href="/v/vlkajsdf")
				.video-thumbnail-wrap
					.thumbnail-overlay
						.play-icon
					img.thumbnail(src="videos/vlkajsdf/thumbnail.png")
				h1.title Intersession Celebration
				br
				p.date 1 week ago <b>•</b> 253 Views
	script(src="js/user/index.js")