head
		include ../main
		link(rel="stylesheet" href="css/user/index.css")
		script.
			const rawVideos = "#{videos}"
			if(rawVideos) {
				window.videos = JSON.parse(rawVideos.replace(/&quot;/g,'"'))
			}

body
	include nav
	#main
		h1.page-title Previous Streams
		.videos-container
	script(src="js/user/index.js")