head
	include ../main
	link(href="https://unpkg.com/video.js@7/dist/video-js.min.css" rel="stylesheet")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.8.0/video.min.js")
	link(rel="stylesheet" href="/css/user/video.css")
	link(rel="stylesheet" href="/css/user/videojs-setup.css")
	script.
		const rawVideo = "#{video}"
		if(rawVideo) {
			window.video = JSON.parse(rawVideo.replace(/&quot;/g,'"'))
		}
body
	include nav
	h1.no-video No Video Found
	#main
		h1.disclaimer Previous Stream
		.video-player
			img(src="/img/ratio-placeholder.png")
		.video-information
			.container-content
				.title-views-wrap
					h1.title
					p.views
				.description-wrap
					p.description
	script(src="/js/user/video.js")